@use "sass:list";

@use "utils";
@use "keywords";

@function parse($tokens) {
	$_copy: $tokens;
	$_min: null;
	$_max: null;

	@if not utils.isEmpty($_copy) {
		@if utils.first($_copy) == keywords.$min {
			$_copy: utils.skipFrom($_copy, keywords.$min);

			$_min: utils.first($_copy);

			$_copy: utils.skipFrom($_copy, 2);
		}
	}

	@if not utils.isEmpty($_copy) {
		@if utils.first($_copy) == keywords.$max {
			$_copy: utils.skipFrom($_copy, keywords.$max);

			$_max: utils.first($_copy);
		}
	}

	@if $_min == null and $_max == null {
		@return ();
	}

	@return ($_min, $_max);
}
