@use "sass:list";

@use "utils";
@use "keywords";

@function parse($tokens) {
	$tokensCopy: $tokens;
	$min: null;
	$max: null;

	@if not utils.isEmpty($tokensCopy) {
		@if utils.first($tokensCopy) == keywords.$min {
			$tokensCopy: utils.skipFrom($tokensCopy, keywords.$min);

			$min: utils.first($tokensCopy);

			$tokensCopy: utils.skipFrom($tokensCopy, 2);
		}
	}

	@if not utils.isEmpty($tokensCopy) {
		@if utils.first($tokensCopy) == keywords.$max {
			$tokensCopy: utils.skipFrom($tokensCopy, keywords.$max);

			$max: utils.first($tokensCopy);
		}
	}

	@if $min == null and $max == null {
		@return ();
	}

	@return ($min, $max);
}
