@use "sass:list";

@use "unit";
@use "utils";
@use "range";
@use "number";
@use "borders";

@function value($tokens) {
	$tokensCopy: $tokens;
	$numbers: (0, 0);
	$borders: ();

	@if number.isNumber(utils.first($tokensCopy)) {
		$numbers: (0, number.extractFrom($tokensCopy));
		$tokensCopy: utils.skipFrom($tokensCopy, 2);
	} @else {
		$numbers: range.parse($tokensCopy);
		$tokensCopy: utils.skipFrom($tokensCopy, 5);
	}

	$value: 1rem * (list.nth($numbers, 2) - utils.first($numbers));

	@if not utils.isEmpty($tokensCopy) {
		$borders: borders.parse($tokensCopy);
	}

	@if not utils.isEmpty($borders) {
		$min: utils.first($borders);
		$max: list.nth($borders, 2);

		@if $min == null {
			@return min(#{$max}, #{$value});
		} @else if $max == null {
			@return max(#{$min}, #{$value});
		} @else {
			@return utils.between($min, $value, $max);
		}
	}

	@return $value;
}
