@use "sass:list";

@use "unit";
@use "utils";
@use "range";
@use "number";
@use "borders";

@function value($tokens) {
	$_copy: $tokens;
	$_numbers: (0, 0);
	$_borders: ();

	@if number.isNumber(list.nth($_copy, 1)) {
		$_numbers: (0, number.number($_copy));
		$_copy: utils.slice($_copy, 2);
	} @else {
		$_numbers: range.range($_copy);
		$_copy: utils.slice($_copy, 5);
	}

	@if not utils.isEmpty($_copy) {
		$_borders: borders.borders($_copy);
	}

	@if not utils.isEmpty($_borders) {
		@return clamp(
			#{list.nth($_borders, 1)},
			calc(var(--unit) * #{list.nth($_numbers, 2) - list.nth($_numbers, 1)}),
			#{list.nth($_borders, 2)}
		);
	}

	@return calc(
		var(--unit) * #{list.nth($_numbers, 2) - list.nth($_numbers, 1)}
	);
}
