@use "sass:list";

@use "utils";
@use "number";
@use "keywords";

@function parse($tokens) {
	$tokensCopy: utils.skipFrom($tokens, keywords.$from);
	$leftColumn: number.extractFrom($tokensCopy);

	$tokensCopy: utils.skipFrom(utils.skipFrom($tokensCopy, 2), keywords.$to);
	$rightColumn: number.extractFrom($tokensCopy);

	@if $leftColumn > $rightColumn {
		@error 'Left column cannot be greater than right one: left - #{$leftColumn}, right - #{$rightColumn}';
	}

	@return ($leftColumn $rightColumn);
}
