@use "sass:list";

@use "utils";
@use "number";
@use "keywords";

@function range($tokens) {
	$_copy: utils.skip(keywords.$from, $tokens);
	$leftNumber: number.toNumber(list.nth($_copy, 1));
	$_copy: utils.skip(keywords.$to, utils.slice($_copy, 2));
	$rightNumber: number.toNumber(list.nth($_copy, 1));

	@if $leftNumber > $rightNumber {
		@error 'From number cannot be greater than To';
	}

	@return ($leftNumber $rightNumber + 1);
}
