@use "sass:meta";
@use "sass:list";

@function isEmpty($list) {
	@return list.length($list) == 0;
}

@function slice($list, $from, $to: list.length($list) + 1) {
	$separator: list.separator($list);
	$copy: ();

	@for $index from $from to $to {
		$copy: list.append($copy, list.nth($list, $index), $separator);
	}

	@return $copy;
}

@function skipFrom($list, $tokenOrCount) {
	// We cannot import 'number' module because of circular
	// dependencies
	@if meta.type-of($tokenOrCount) == number {
		@return slice($list, $tokenOrCount);
	}

	@if $tokenOrCount != first($list) {
		@error 'Word #{$tokenOrCount} does not match the first value from #{$list} sequence.';
	}

	@return slice($list, 2);
}

// Safari 12 doesn't support CSS clamp function
@function between($min, $value, $max) {
	@return max(#{$min}, min(#{$value}, #{$max}));
}

/// Returns first value of a list
@function first($list) {
	@return list.nth($list, 1);
}
